@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

html {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0rem;
	padding-right: 0;
	background-color: #2a2d3a;
	color: whitesmoke;
	// align-items: stretch;
	// justify-content: stretch;
}

body {
	color: inherit;
	background-color: inherit;
	// display: flex;
	// flex-direction: column;
	// align-items: stretch;
	// justify-content: stretch;
}

#app {
	color: inherit;
	background-color: inherit;
	// display: flex;
	// flex-direction: column;
	// align-items: stretch;
	// justify-content: stretch;
	// min-height: 100vh;
}
